.flex-box {
	padding: 44px 43px 0 38px;
	.common-layout-system {
		padding: 0;
		width: calc(100% - 220px);
		.operat-buttons {
			margin: 0;
			.el-button {
				margin-bottom: 25px;
				width: 80px;
				height: 32px;
			}
		}
	}
}
